/* contenedor carrousel */
#carousel {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
/* contenido carrrousel */
#slide-container {
  padding: 50px 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  color: #000;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
/* elementos del carrousel */
.slide {
  padding: 20px;
  scroll-snap-align: center;
  position: relative;
  min-width: 33%;
  text-align: center;
}
/* contenedor botones */
.slide-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px blue solid;
}
/* botones flechas */
.arrow {
  border: 1px black solid;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
/* contenedor indicadores */
.slide-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.slide-indicator {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  width: 50px;
}
.slide-indicator:after {
  content: "";
  border: 1px rgb(190, 190, 190) solid;
  height: 10px;
  width: 50px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
  background-color: #ccc;
}
/* IPAD */
@media screen and (max-width: 768px) {
  .slide {
    padding: 15px;
    min-width: 50%;
  }
}
/* IPHONE */
@media screen and (max-width: 480px) {
  .slide {
    padding: 10px;
    min-width: 100%;
  }
}
