@media screen and (max-width: 720px) {

    /* --- NAV (Menú Móvil) --- */
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        color: var(--color-rojo);
    }

    .menu-close {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        z-index: 10000;
        color: var(--color-rojo);
    }

    .nav-content {
        position: relative;
    }

    /* Menú lateral oculto */
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: var(--blanco);
        flex-direction: column;
        padding: 60px 20px;
        gap: 20px;
        text-align: left;
        transition: .4s ease;
        z-index: 9999;
        box-shadow: -5px 0 15px rgba(0,0,0,0.2);
        display: flex;
    }

    /* Menú lateral visible */
    .nav-links.abrir_menu {
        right: 0;
    }

    .nav-links li {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
        width: 100%;
    }

    .nav-links li a {
        display: block;
        padding: 10px 0;
        width: 100%;
        font-size: 18px;
    }

    /* --- HERO (Ajustes generales tablet/móvil) --- */
    .hero-text h1 {
        font-size: 42px;
        line-height: 1.2;
    }
    .hero-text {
        width: 100%;
        text-align: center;
    }

    /* --- SERVICES --- */
    .services-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    /* --- GALLERY --- */
    .gallery-block {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .history-image.gallery-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .gallery-grid .g-item img {
        height: auto;
        max-height: 350px;
        width: 100%;
    }
}


@media screen and (max-width: 450px) {

    .slider_container img {
        height: 100vh;
        object-fit: cover;
    }

    .hero-content {
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100%;
        padding: 0 15px;
    }

    .hero-text {
        background-color: rgba(255, 64, 72, 0.5);
        
        width: 90%; 
        padding: 30px 20px;
        border-radius: 8px;
        margin: 0 auto;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
        text-align: center;
        margin: 0;
        color: #fff;
        line-height: 1.2;
    }

    .hero-text p{
        display: none;
    }

    .hero {
        min-height: 100vh;
        height: 100vh;
    }

    .services h2,
    .gallery-block .history-text h2 {
        font-size: 26px;
    }

    .logo img {
        width: 120px;
    }
}