* {
  margin: 0;
  padding: 0;
}

/* responsiveslide css */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/*  fin */

.callbacks_container {
  position: relative;
  margin: auto;
}
.callbacks_container img {
  height: 500px;
  object-fit: cover;
}
.callbacks_container ul {
  margin: 0px;
}

.caption {
  position: absolute;
  z-index: 2;
  text-align: left;
  font-size: 30px;
  left: 15%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
.callbacks_nav {

  position: absolute;
  /* top: 52% */
  bottom: 0;
  text-transform: translate(-50%, 50%);
  left: 10%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 50%;
  width: 35px;
  background: transparent url("../img/flechas2.png") no-repeat left top;
  margin-top: -45px;
}
.callbacks_nav.next {
  background-position: right top;
  left: 90%;
}
@media screen and (max-width: 800px) {
  .callbacks_nav {
    left: 5%;
}
@media screen and (max-width: 414px) {
  .callbacks_nav {
    left: 0%;
}
}}