@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-grisClaro: #EDEDED;
    --color-grisOscuro: #CCC;
    --color-negro: #3B3833;
    --color-blanco: #fff;
    --color-azul: #052F40;
    --color-dorado: #A6813C;
    --color-doradoBajo: #EBE2CE;
    --color-doradoHover: #8C6927;

    --tipografia-titulo: "Alex Brush", cursive;
    --tipografia-subtitulos: "Lobster", sans-serif;
    --tipografia-texto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.margen {
    padding: 15px;
}

.centrar {
    text-align: center;
}

.titulo {
    font-family: var(--tipografia-titulo) ;
}

.subtitulo {
    font-family: var(--tipografia-subtitulos);
}

.texto {
    font-family: var(--tipografia-texto);
}

/* HEADER */

header {
    padding: 10px 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 1px var(--color-grisClaro) solid;
}

.icons-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-back {
    padding: 10px 15px;
    background-color: var(--color-doradoBajo);
    border-radius: 5px;
}

.icon-back a {
    font-size: 12px;
    text-decoration: none;
    color: var(--color-dorado);
}

.icon-back:hover {
    background-color: var(--color-dorado);
}

.icon-back:hover a {
    color: var(--color-blanco);
}

.button-header {
    padding: 12px 15px;
    background-color: var(--color-dorado);
    border-radius: 5px;

}

.button-header a {
    font-family: var(--tipografia-texto);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-blanco);
}

.button-header:hover {
    background-color: var(--color-doradoHover);
}

/* NAV-BAR */
.nav-bar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav img {
    width: 120px;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-menu ul {
    text-decoration: none;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-azul);
    font-family: var(--tipografia-subtitulos);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.nav-menu li a:hover {
    color: var(--color-doradoHover);
}

.icon-lupa {
    border: 1px var(--color-grisClaro) solid;
    border-radius: 10px;
    padding: 15px;
}

.icon-lupa i {
    text-decoration: none;
    color: var(--color-azul);
}

.icon-lupa:hover {
    background-color: var(--color-grisOscuro);
}

/* SECCION: MAIN */
.main-section {
    background-color: var(--color-azul);
    height: 80vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.text-main {
    padding: 0px 30px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

.text-main .titulo {
    font-size: 60px;
    color: var(--color-dorado);
}

.text-main .texto {
    color: var(--color-blanco);
    font-size: 15px;
    line-height: 2.0;
    border-left: 4px var(--color-dorado) solid;
    padding: 0 20px;
}

.btn-main {
    display: flex;
    gap: 50px;
    padding: 30px 10px;
}

.btn-started {
    background-color: var(--color-dorado);
    padding: 15px 20px;
    transform: skewX(-10deg);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-started:hover {
    background-color: var(--color-doradoHover);
}

.btn-started a {
    color: var(--color-blanco);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--tipografia-texto);
}

.btn-main a {
    text-decoration: none;
}

.btn-video .video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
    color: var(--color-dorado);
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-size: 20px;
}

.btn-video .video:hover {
    background-color: #A98E5E;
    color: white;
    transform: scale(1.05);
}

.img-fondo {
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: 1;
}

.img-main {
    width: 700px;
    height: 700px;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    filter: opacity(50%);
}

.img-main img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* SECCION: PARALLAX */


/* SECCION: WHY US */