@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-grisClaro: #EDEDED;
    --color-grisOscuro: #6d6464;
    --color-negro: #3B3833;
    --color-blanco: #fff;
    --color-azul: #052F40;
    --color-dorado: #A6813C;
    --color-doradoBajo: #EBE2CE;
    --color-doradoHover: #8C6927;

    --tipografia-titulo: "Alex Brush", cursive;
    --tipografia-subtitulos: "Lobster", sans-serif;
    --tipografia-texto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.margen {
    padding: 15px;
}

.centrar {
    text-align: center;
}

.titulo {
    font-family: var(--tipografia-titulo) ;
}

.subtitulo {
    font-family: var(--tipografia-subtitulos);
}

.texto {
    font-family: var(--tipografia-texto);
}

.bold {
    font-weight: 600;
}

.dorado {
    color: var(--color-dorado);
}

/* HEADER */

header {
    padding: 10px 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 1px var(--color-grisClaro) solid;
}

.icons-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-back {
    padding: 10px 15px;
    background-color: var(--color-doradoBajo);
    border-radius: 5px;
}

.icon-back a {
    font-size: 12px;
    text-decoration: none;
    color: var(--color-dorado);
}

.icon-back:hover {
    background-color: var(--color-dorado);
}

.icon-back:hover a {
    color: var(--color-blanco);
}

.button-header {
    padding: 12px 15px;
    background-color: var(--color-dorado);
    border-radius: 5px;

}

.button-header a {
    font-family: var(--tipografia-texto);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-blanco);
}

.button-header:hover {
    background-color: var(--color-doradoHover);
}

/* NAV-BAR */
.nav-bar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav img {
    width: 120px;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-menu ul {
    text-decoration: none;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-azul);
    font-family: var(--tipografia-subtitulos);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.nav-menu li a:hover {
    color: var(--color-doradoHover);
}

.icon-lupa {
    border: 1px var(--color-grisClaro) solid;
    border-radius: 10px;
    padding: 15px;
}

.icon-lupa i {
    text-decoration: none;
    color: var(--color-azul);
}

.icon-lupa:hover {
    background-color: var(--color-grisOscuro);
}

/* SECCION: MAIN */
.fondo {
    background-color: var(--color-azul);
}
.main-section {
    height: 100vh;
    max-height: 900px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.text-main {
    padding: 0px 30px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

.text-main .titulo {
    font-size: 60px;
    color: var(--color-dorado);
}

.text-main .texto {
    color: var(--color-blanco);
    font-size: 15px;
    line-height: 2.0;
    border-left: 4px var(--color-dorado) solid;
    padding: 0 20px;
}

.btn-main {
    display: flex;
    gap: 50px;
    padding: 30px 10px;
}

.btn-started {
    background-color: var(--color-dorado);
    padding: 15px 20px;
    transform: skewX(-10deg);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-started:hover {
    background-color: var(--color-doradoHover);
}

.btn-started a {
    color: var(--color-blanco);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--tipografia-texto);
}

.btn-main a {
    text-decoration: none;
}

.btn-video .video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
    color: var(--color-dorado);
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-size: 20px;
}

.btn-video .video:hover {
    background-color: #A98E5E;
    color: white;
    transform: scale(1.05);
}

.img-fondo {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 1;
}

.img-main {
    width: 700px;
    height: 700px;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    filter: opacity(50%);
}

.img-main img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* SECCION: PARALLAX */
.parallax-section {
    background-image: url(../img/fondo_parallax.jpg);
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(17, 8, 2, 0.555);
}

.text-parallax-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.text-parallax {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    color: var(--color-blanco);
    padding: 0 50px;
}

.text-parallax .text {
    font-size: 7vh;
    max-width: 400px;
}

.parallax-card {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    gap: 20px;
}

.icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.icon-container img {
    width: 100%;
    height: 100%;
}

.text-container {
    flex-grow: 1;
}

.parallax-card .subtitulo {
    font-size: 24px;
    margin-bottom: 5px;
}

.parallax-card .texto {
    font-size: 16px;
    line-height: 1.5;
}

.icon-container svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.img-parallax-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 500px;
    z-index: 2;
}

.img-boda {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-boda:nth-child(2) {
    margin-top: -10px;
    align-self: flex-end;
}

.img-boda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* SECCION: WHY US */
.nosotros-section {
    height: auto;
    max-height: 900px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px 0; 
}

.text-us {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; 
    padding-right: 50px;
    padding-left: 10%;
}

.text-us .subtitulo {
    font-size: 8vh;
    color: var(--color-azul);
    margin-bottom: 20px;
}

.us-text .whyus {
    line-height: 1.6;
    max-width: 80%;
    padding: 20px 0;
    color: var(--color-grisOscuro);
}

.us-text .bold {
    font-weight: bold;
}

.like-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reason-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.reason-text h3 {
    color: var(--color-azul);
    font-weight: 500;
}

.reason-text .circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dorado);
    color: var(--color-blanco);
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-size: 20px;
}

.card-us {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}

.us-card {
    background-color: var(--color-dorado);
    color: var(--color-blanco);
    padding: 10px 0;
}

.card-part,
.card-part-bottom {
    margin: 20px 50px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
}

.card-part-bottom {
    border-bottom: 1px var(--color-grisClaro) solid;
}

.icon-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container svg {
    width: 50px;
    height: 50px;
    fill: var(--color-blanco); 
}

.text-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.text-us-card h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.text-us-card p {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
}

/* SECCION: SERVICES */
.service-section {
    height: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco);
}

.service-section h2 {
    font-size: 40px;
    color: var(--color-azul);
    margin-bottom: 5px;
    font-weight: normal;
}

.service-section p {
    color: var(--color-grisOscuro);
    width: 100%;
    max-width: 700px;
    font-size: 16px;
    margin: 0;
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: center;
}

.card-service-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.card-services {
    margin: 10px 0px;
    border: 1px solid var(--color-grisClaro);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.card-services figure {
    margin: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.card-services figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-services .circulo {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
    width:90px;
    height: 90px;
    border-radius: 50%;
    top: 65%;
    transform: translateY(-50%);
    z-index: 10;
}

.card-services .icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-services .icon-container svg {
    width: 40px;
    height: 40px;
    fill: var(--color-dorado);
    stroke: var(--color-dorado);
}

.card-services .text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 20px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.text-card h3 {
    font-size: 24px;
    color: var(--color-azul);
    font-weight: normal;
    margin-bottom: 20px;
}

.text-card a {
    font-family: var(--tipografia-texto);
    text-decoration: none;
    color: var(--color-azul);
    padding: 20px 15px;
    background-color: var(--color-blanco);
    position: absolute;
    top: 80%;
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease; 
}

.text-card a:hover {
    background-color: var(--color-grisClaro);
    transform: skewX(-10deg);
}

.text-card a i {
    margin-left: 5px;
    font-size: 12px;
}

/* SECCION: PORTFOLIO */
.portafolio-section {
    height: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco);
}

.portafolio-section h2 {
    font-size: 40px;
    color: var(--color-azul);
    margin-bottom: 5px;
    font-weight: normal;
}

.portafolio-section .texto-vertical {
    color: var(--color-grisOscuro);
    width: 100%;
    max-width: 700px;
    font-size: 16px;
    margin: 0;
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: center;
}

.card-port-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.porfolio-card {
    width: 100%;
    max-width: 350px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.porfolio-card figure {
    margin: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.porfolio-card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.texto-card {
    padding: 20px 0;
    text-align: center;
}

.texto-card h3 {
    margin: 0;
    font-size: 24px;
    color: var(--color-negro);
    font-weight: 500;
}

.texto-card p {
    margin: 5px 0 0 0;
    font-size: 16px;
}

.div-oculto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 47, 64, 0.0);
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.div-oculto i {
    font-size: 25px;
    color: var(--color-blanco);
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 0.3s ease 0.15s, transform 0.3s ease 0.15s;
}

.porfolio-card:hover .div-oculto,
.porfolio-card:hover figure .div-oculto {
    opacity: 1;
    background-color: #052f40c0;
}

.porfolio-card:hover .div-oculto i,
.porfolio-card:hover figure .div-oculto i {
    opacity: 1;
    transform: translateX(0);
}

/* SECCION: EXPERTS */

/* SECCION: PRICING */

/* SECCION: CLIENTS FEEDBACK */

/* SECCION: BLOG */

/* SECCION: CONTACT US */

/* SECCION: MAPS */

/* FOOTER*/
